.contact {
    padding: 4rem 0;
    @media (min-width: $size) {
        @include flexbox(center, 0, row, 2rem);
    }
    .content-container-left {
        width: 100%;
        padding: 1.5rem;
        @include flexbox(0, 0, column, 2rem);
        @media (min-width: $size) {
            width: 70%;
        }
        form, .name-mail-co {
            @include flexbox(0,0, column, 1rem);
            input, textarea {
                width: 90%;
                padding: .75rem .25rem;
                outline: none;
                border: 1px solid $lightgray;
                font-family: $primaryFont;
                font-size: clamp(1rem, 1.35vw, 1.75rem);
                &::placeholder {
                    color: $lightgray;
                }
                &:hover {
                    border: 1px solid $black;
                }
                &:active, &:focus, &:focus-visible {
                    border: 3px solid $black;
                    border-radius: 2px;
                }
            }
            button {
                align-self: flex-start;
            }
        }
    }
}