footer {
    color: $white;
    background: $black;
    width: 100%;
    span { font-size: clamp(1rem, 1.25vw, 1.75rem); color: $white; }
    @include flexbox(center, center, column, 3rem);
    .text-container {
        padding: 2rem;
        text-align: center;
        @include flexbox(center, center, column, 3rem);
        a {
            color: $white; 
            &:hover {
                color: $blue;
            }
        }
    }
}