header {
    width: 100%;
    @include flexbox(0, 0, column, 0);
    .main-nav {
        width: 100%;
        padding: 1rem;
        @include flexbox(center, space-between, row, 0);
        .logo {
            font-size: clamp(1.75rem, 2.85vw, 4rem);
            font-weight: 500;
        }
        svg {
            cursor: pointer;
        }
    }
    .active {
        display: block;
    }
    nav {
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        width: max-content;
        height: 100vh;
        width: 100vw;
        background: rgba(15, 15, 15, 0.95);
        display: none;
        animation: fade 250ms ease;
        @media ( min-width: $size ) { width: 30vw; }
        svg {
            position: absolute;
            top: 1rem;
            right: 1rem;
            fill: $white;
            cursor: pointer;
        }
        ul {
            height: 100vh;
            @include flexbox(center, space-evenly, column, 0);
            li {
                a {
                    color: $white;
                    font-size: clamp(1.15rem, 1.65vw, 2.15rem);
                 }
            }
        }
    }
}