header {
    width: 100%;
    padding: 2rem;
    @include flexbox(none, none, column, 1rem);
    .main-nav {
        width: 100%;
        @include flexbox(center, space-between, row, 1rem);
    }
    .active {
        display: block;
    }
    nav {
        background: rgba(15, 15, 15, 0.75);
        display: none;
        ul {
            li {
                a { color: $white; }
            }
        }
    }
}