.reviews {
    padding: 4rem 2rem;
    @include flexbox(center, 0, column, 4rem);
    @media (min-width: $size) {
        width: 65%;
    }
    .review-container {
        @include flexbox(center, center, row, 2rem);
        .image-container {
            img {
                min-width: 50px;
                max-width: 75px;
                border-radius: 50%;
                border: .3rem solid $blue;
            }
        }
        .text-container {
            @include flexbox(0, 0, column, 1rem);
            span {
                color: $blue;
                font-weight: 900;
            }
        }
    }
}
.stats {
    background: $blue;
    color: $white;
    h3 { font-size: clamp(2.75rem, 6vw, 10rem); font-weight: 700; }
    text-align: center;
    @include flexbox(center, center, column, 4rem);
    @media (min-width: $size) {
        @include flexbox(center, space-evenly, row, 4rem);
        flex-wrap: wrap;
    }
    .stats-container {
        @include flexbox(center, 0, column, 1rem);
        svg {
            fill: $white;
        }
    }
}