@import "./variables";

@mixin flexbox($align, $justify, $direction, $gap) {
    display: flex;
    @if $align != 0 { align-items: $align; }
    @if $justify != 0 { justify-content: $justify; }
    @if $direction != 0 { flex-direction: $direction; }
    @if $gap != 0 { gap: $gap; }
}

@mixin reset {
    a {
        color: $blue;
        text-decoration: none;
        &:hover, &:after {
            color: $blueActive;
            transition: 350ms ease-in-out;
        }
    }
    li {
        list-style: none;
    }
    button {
        border: 0;
        outline: none;
    }
}