$black: rgb(20, 20, 20);
$gray:  rgb(130, 130, 130);
$lightgray: rgb(170, 170, 170);
$white: rgb(230, 230, 230);
$blue: rgb(0, 85, 255);
$blueActive: rgb(0, 60, 179);
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Playfair Display', serif;
$size: 768px;