@import "./components/variables";
@import "./components/mixins";
@import "./components/layout/header";
@import "./components/layout/home";
@import "./components/layout/info";
@import "./components/layout/services";
@import "./components/layout/reviews";
@import "./components/layout/contact";
@import "./components/layout/footer";

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    color: $black;
}

button {
    background: $blue;
    color: $white;
    border: 0;
    outline: none;
    cursor: pointer;
    padding: .5rem 1rem;
    &:hover, &:active, &:focus {
        background: $blueActive
    }
}

a {
    text-decoration: none;
    color: $black;
}