@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import "./components/variables";
@import "./components/mixins";
@import "./components/layout/header";
@import "./components/layout/home";
@import "./components/layout/info";
@import "./components/layout/services";
@import "./components/layout/reviews";
@import "./components/layout/contact";
@import "./components/layout/footer";

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@include reset;

body {
    font-size: 1rem;
    color: $black;
    font-family: $primaryFont;
    button {
        background: $blue;
        color: $white;
        cursor: pointer;
        padding: .5rem 1rem;
        &:hover, &:active, &:focus {
            background: $blueActive
        }
    }
    a {
        text-decoration: none;
        color: $black;
    }
    h1 { font-size: clamp(2.5rem, 6vw, 10rem); font-family: $secondaryFont; }
    h2 { font-size: clamp(1.75rem, 3vw, 5rem); font-family: $secondaryFont; }
    h3 { font-size: clamp(1.5rem, 2vw, 3rem); }
    p {
        font-size: clamp(1rem, 1.25vw, 1.5rem);
        font-weight: 500;
        line-height: 1.85;
    }
}