@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}

header .main-nav {
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
}

header .main-nav .logo {
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: 500;
}

header .main-nav svg {
  cursor: pointer;
}

header .active {
  display: block;
}

header nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100vh;
  width: 100vw;
  background: rgba(15, 15, 15, 0.95);
  display: none;
}

header nav svg {
  position: absolute;
  top: 2rem;
  right: 2rem;
  fill: #e6e6e6;
  cursor: pointer;
}

header nav ul {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}

header nav ul li a {
  color: #e6e6e6;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

main .content-container-left {
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

main .content-container-left .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

main .content-container-left .text-container p {
  color: #787878;
}

main .content-container-left .text-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #1455d4;
  text-decoration: none;
}

a:hover, a:after {
  color: #134ec4;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

li {
  list-style: none;
}

button {
  border: 0;
  outline: none;
}

body {
  font-size: 1rem;
  color: #141414;
  font-family: "Roboto", sans-serif;
}

body button {
  background: #1455d4;
  color: #e6e6e6;
  cursor: pointer;
  padding: .5rem 1rem;
}

body button:hover, body button:active, body button:focus {
  background: #134ec4;
}

body svg {
  fill: #141414;
}

body svg:hover, body svg:active {
  fill: #1455d4;
}

body img {
  width: 100%;
}

body a {
  text-decoration: none;
  color: #141414;
}

body h1 {
  font-size: clamp(2.5rem, 6vw, 10rem);
  font-family: "Playfair Display", serif;
}

body h2 {
  font-size: clamp(1.75rem, 3vw, 5rem);
  font-family: "Playfair Display", serif;
}

body h3 {
  font-size: clamp(1.5rem, 2vw, 3rem);
}

body p {
  font-size: clamp(1rem, 1.25vw, 1.5rem);
  font-weight: 400;
  line-height: 1.5;
}

body span {
  font-size: clamp(0.75rem, 1vw, 1.5rem);
  color: #969696;
}
/*# sourceMappingURL=main.css.map */